@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body {
  background: #000000;
  color: #fff;
}

.navbar {
  background: transparent;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 10px 10%;
}

.navbar-brand {
  color: white !important;
  display: inline-block;
  list-style: none;
}

.navbar-nav a {
  color: white;
  font-size: 18px;
  margin: 10px 20px;
  text-decoration: none;
  position: relative;
  transition: background 0.5s, transform 0.5s;
  border-radius: 10px;
}
.navbar-nav a:hover {
  background: #00ffff;
  transform: translateY(-10px);
  border-radius: 10px;
}

.banner-image {
  background-image: url("img/bg.jpg");
  background-size: cover;
  width: 100%;
  height: 90vh;
  background-position: center;
}

.banner-text {
  padding-top: 25%;
  padding-left: 10%;
  font-size: 30px;
}
.banner-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.about .about-img img {
  width: 70%;
  margin-left: 50px;
  border-radius: 15px;
}
.about img {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.about li {
  text-decoration: none !important;
  text-decoration-style: none !important;
}
.about h3 {
  font-size: 50px;
}
.btn-group {
  display: flex;
  /* margin: 20px 60px; */
}

.btn-group .btn {
  border-color: transparent;
  color: #fff;
  background-color: transparent;
  margin-bottom: 20px;
  transition: background 0.5s, transform 0.5s;
}
.btn-group .btn:hover {
  background: #00ffff;
  transform: translateY(-10px);
}

.city li img {
  width: 50px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.tab-link::after {
  content: "";
  width: 0;
  height: 3px;
  background: #00ffff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
/* service */
.col-lg-3 {
  background: #262626;
  padding: 40px;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.col-lg-3:hover {
  background: #00ffff;
  color: #000000;
  transform: translateY(-10px);
}
/* porfolio */
#porfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work img {
  width: 21rem;
  border-radius: 5%;
}
.work a {
  text-align: center;
  padding: 50px;
  text-decoration: none;
  color: white;
}
.work a:hover {
  color: #00ffff;
}
/* contact */
.col-lg-6 a {
  text-decoration: none;
  color: white;
}
.social-icon a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icon img {
  width: 30px;
}
.social-icon a:hover {
  color: #00ffff;
  transform: translateY(-5px);
}
.btn.btn-2 {
  margin-top: 20px;
  display: inline-block;
  background: #ababab;
}
.btn.btn-2:hover {
  background-color: #00ffff;
  color: #000000;
}
.btn.btn-1 {
  margin-top: 20px;
  display: inline-block;
  background: #00ffff;
  width: 5rem;
}
.form-control {
  background: #262626;
  color: #fff;
  border-color: transparent;
}

@media only screen and (max-width: 600px) {
  .about h3 {
    font-size: 50px;
    padding-top: 30px;
  }
  /* banner text */
  .banner-text p {
    font-size: small;
  }
  .banner-text h1 {
    font-size: larger;
  }
  /* about */
  .about {
    padding-top: -40px;
    width: fit-content;
    justify-content: center;
  }
  /* porfolio */
  .work img {
    width: 15rem;
  }
  /* service */
  .col-lg-3 {
    width: fit-content;
  }
}
